<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844FCC8C198B320500EB242A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844FCC97198B320500EB242A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DF75F71B0BD54600C912B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DF76011B0BD54600C912B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
